<h1>Add a new email</h1>
<form action="/home/add_process" method="post">
	Name: <input type="text" name="email_user"><br>
	Email address: <input type="text" name="email_address">
	<input type="submit" value="add">
</form>

